---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('1/7/2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello everyone! My name is Nicholas Dewberry, and I am a computer
	</p>

	<p>
		Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non
		tellus. Habitasse platea dictumst quisque sagittis purus sit amet. Tellus molestie nunc non
		blandit massa. Cursus vitae congue mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna
		porttitor rhoncus dolor. Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis
		massa tincidunt dui ut ornare lectus. Integer feugiat scelerisque varius morbi enim nunc.
		Bibendum neque egestas congue quisque egestas diam. Cras ornare arcu dui vivamus arcu felis
		bibendum. Dignissim suspendisse in est ante in nibh mauris. Sed tempus urna et pharetra pharetra
		massa massa ultricies mi.
	</p>

	<h3> My academic pursuits </h3>

	<p>
I'm a computer science student, and like 99% of the other compsci students I talk to - I want to develop a video game. Gaming is my main hobby and a huge part of how I socialize and spend time with others. Most importantly, making video games have taught me A LOT about how to be a good programmer and computer scientist. 

I taught myself python during 2016 and I got an A in almost every single Computer Science class (I once had a TA who accidentially knocked my grade down to a B+ and it was too late for me to notice).
	</p>

	<h3> My intellectual pursuits</h3>
	<p>
		I often study things such as ethics and other things pertaining to right and wrong. I think it's super cool to study things like right and wrong, especially because right answers are so rare to find. 
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
